<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dog Den</title>
    <link rel="icon" href="/css/Animals-Dog-Bone-icon.png">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/dogs">The Roster</a>
          </li>
          <li>
            <a href="/dogs/new">Join the Pack</a>
          </li>
        </ul>
      </nav>
      <h1>Welcome to The Dog Den</h1>
    </header>
  </body>
</html>
