<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dog Den</title>
    <link rel="icon" href="/css/Animals-Dog-Bone-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body id="front-page">
    <%# <img id="title" src="/css/dogdenlogo.png" alt="">%>
    <header>
      <h1>THE DOG DEN</h1>
      <nav>
        <ul>
          <li>
            <a href="/dogs">The Roster</a>
          </li>
          <li>
            <a href="/dogs/new">Join the Pack</a>
          </li>
        </ul>
      </nav>

    </header>
  </body>
</html>
