<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="edit">
    <header>
      <h1>THE DOG DEN</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/messages">Messages Index</a>
      </li>
    </ul>
  </nav>
</header>
<main class="form">
  <h2>Edit your message:</h2>
  <form  action="/messages/<%=message._id%>?_method=PUT" method="post">
    <input type="text" name="title" value="<%=message.title%>"/><br/>
    <textarea name="body"><%=message.body%></textarea><br/>
    <input type="submit" value="Update Message"/>
  </form>
</main>
  </body>
</html>
