<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="index">
  <header>
  <h1>THE DOG DEN</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/messages/new">Create a new Message</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <h2>Messages for the Day</h2>
  <ul>
    <% for(let i = 0; i < messages.length; i++){ %>
      <li>
        <a href="/messages/<%=messages[i]._id%>"><%=messages[i].title%></a>
      </li>
    <% } %>
  </ul>
</main>

  </body>
</html>
