<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
    <h1>Leave a message, and we'll pass it on!</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/messages">All messages for the day</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/messages" method="post">
      <input type="text" name="title" /><br/>
      <textarea name="body"></textarea><br/>
      <input type="submit" value="Post It!"/>
    </form>
  </main>
  </body>
</html>
