<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
			<h1><%=onemessage.title%></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/messages">All Messages for the Day</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<%=onemessage.body%>
			</section>
			<section>
			    <form action="/messages/<%=onemessage._id%>?_method=DELETE" method="post">
			        <input type="submit" value="Delete Message"/>
			    </form>
			</section>
			<section>
			    <a href="/messages/<%=onemessage._id%>/edit">Edit</a>
			</section>
		</main>
  </body>
</html>
