<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="index">
    <header class="container">
    <h1>THE DOG DEN</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/dogs/new">Join the Pack</a>
        </li>
      </ul>
    </nav>
  </header>
    <main>

      <section id="dog-roster">
        <h1>The Dog Den Roster</h1>
        <div id="dog-roll">


        <%for(let i=0; i < dogs.length; i++){%>
            <a href="/dogs/<%= dogs[i].id %>">
            <img src= "<%=dogs[i].picture%>">
            <li id="dog-list"><%=dogs[i].name%></li>
        <%}%><br>
        </div>
      </section>
      </ul>
    </main>

  </body>
</html>
